:root {
  // Цвета

  --color-white: #fff;
  --color-blue: #2B589A;
  --color-white-secondary: #e2e2e2;
  --bg-wrapper: rgb(255 255 255 / 20%);
  --border-default: rgb(255 255 255 / 35%);
  --bg-calculator: linear-gradient(155.23deg, #28518E 0%, #3A77D1 100%);
  --bg-main: linear-gradient(122.76deg, #FFA2A2 4.09%, #FF7B7B 91.04%);
}

